@media (max-width: 1564px) {
    .navbar .max-width {
        margin-left: 0;
    }

    .home .patrik-capa img {
        margin-top: 0px;
        width: 630px;
        height: 630px;
    }

    .home .linkedin img {
        margin-top: 50px;
        margin-left: -390px;
        width: 30px;
        height: 30px;
    }

    .home .github img {
        margin-top: 50px;
        margin-left: -260px;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        width: 350px;
        height: 350px;
    }

    .home .patrik-capa img {
        margin-top: 50px;
        width: 520px;
        height: 520px;
    }

    .home .linkedin img {
        margin-top: 450px;
        margin-left: -320px;
        width: 30px;
        height: 30px;
    }

    .home .github img {
        margin-top: 450px;
        margin-left: -230px;
        width: 30px;
        height: 30px;
    }

    .home .home-content .text-1 {
        font-size: 55px;
        font-weight: 500;
        margin-left: -3px;
    }
    
    .home .home-content .text-2 {
        font-size: 25px;
        margin: 5px 0;
    }
    
    .home .home-content .text-2 span {
        color: #949494e7;
        font-weight: 500;
    }

    .projects .projects-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media (max-width: 991px) {
    .navbar .max-width {
        padding: 0 50px;
    }

    .home .patrik-capa img {
        margin-top: 55px;
        width: 480px;
        height: 480px;
    }

    .home .linkedin img {
        margin-top: 450px;
        margin-left: -290px;
        width: 30px;
        height: 30px;
    }

    .home .github img {
        margin-top: 450px;
        margin-left: -200px;
        width: 30px;
        height: 30px;
    }

    .home .home-content .text-1 {
        font-size: 55px;
        font-weight: 500;
        margin-left: -3px;
    }
    
    .home .home-content .text-2 {
        font-size: 25px;
        margin: 5px 0;
    }
    
    .home .home-content .text-2 span {
        color: #949494e7;
        font-weight: 500;
    }

    .projects .projects-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media (max-width: 947px) {
    .max-width {
        max-width: 800px;
        padding: 0 50px;
    }

    .navbar .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        background: #111;
        padding-top: 80px;
        text-align: center;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-1 {
        font-size: 55px;
    }
    
    .home .home-content .text-2 {
        font-size: 25px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .home .patrik-capa img {
        margin-top: 70px;
        width: 470px;
        height: 470px;
    }

    .home .linkedin img {
        margin-top: 450px;
        margin-left: -280px;
        width: 30px;
        height: 30px;
    }

    .home .github img {
        margin-top: 450px;
        margin-left: -200px;
        width: 30px;
        height: 30px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column {
        width: 100%;
        margin-bottom: 35px;
    }

}

@media (max-width: 800px) {
    .home .home-content .text-1 {
        font-size: 40px;
    }
    
    .home .home-content .text-2 {
        font-size: 20px;
    }

    .home .home-content a {
        font-size: 20px;
    }

    .home .patrik-capa img {
        margin-top: 90px;
        width: 400px;
        height: 400px;
    }

    .home .linkedin img {
        margin-top: 450px;
        margin-left: -250px;
        width: 30px;
        height: 30px;
    }

    .home .github img {
        margin-top: 450px;
        margin-left: -180px;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 690px) {
    .home .home-content .text-1 {
        font-size: 70px;
    }
    
    .home .home-content .text-2 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 20px;
    }

    .home .patrik-capa img {
        width: 0;
    }

    .home .linkedin img {
        margin-top: 450px;
        margin-left: -450px;
        width: 30px;
        height: 30px;
    }

    .home .github img {
        margin-top: 450px;
        margin-left: -400px;
        width: 30px;
        height: 30px;
    }

    .projects .projects-content .card {
        width: 100%;
    }
}

@media (max-width: 590px) {
    .home .home-content .text-1 {
        font-size: 60px;
    }
    
    .home .home-content .text-2 {
        font-size: 30px;
    }

    .home .home-content a {
        font-size: 20px;
    }

    .home .patrik-capa img {
        width: 0;
    }

    .home .linkedin img {
        margin-top: 450px;
        margin-left: -400px;
        width: 30px;
        height: 30px;
    }

    .home .github img {
        margin-top: 450px;
        margin-left: -350px;
        width: 30px;
        height: 30px;
    }

    .projects .projects-content .card {
        width: 100%;
    }
}

@media (max-width: 535px) {
    .home .home-content .text-1 {
        font-size: 50px;
    }
    
    .home .home-content .text-2 {
        font-size: 27px;
    }

    .home .home-content a {
        font-size: 20px;
    }

    .home .patrik-capa img {
        width: 0;
    }

    .home .linkedin img {
        margin-top: 450px;
        margin-left: -370px;
        width: 30px;
        height: 30px;
    }

    .home .github img {
        margin-top: 450px;
        margin-left: -320px;
        width: 30px;
        height: 30px;
    }

    .projects .projects-content .card {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-1 {
        font-size: 50px;
    }
    
    .home .home-content .text-2 {
        font-size: 27px;
    }

    .home .patrik-capa img {
        width: 0;
    }

    .home .linkedin img {
        width: 0;
    }

    .home .github img {
        width: 0;
    }

    
}