@media (max-width: 1700px) {
    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        max-width: 500px;
        max-height: 500px;
        margin-top: 0px;
        margin-left: 150px;
    }
    
    .home .linkedin img {
        margin-left: 0px;
        margin-top: 0px;
    }

    .home .github img {
        margin-left: 0px;
        margin-top: 20px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 20px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 17px;
    }
}

@media (max-width: 1600px) {
    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        max-width: 500px;
        max-height: 500px;
        margin-top: 0px;
        margin-left: 100px;
    }
    
    .home .linkedin img {
        margin-left: 0px;
        margin-top: 0px;
    }

    .home .github img {
        margin-left: 0px;
        margin-top: 20px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 20px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 17px;
    }
}

@media (max-width: 1500px) {
    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        max-width: 500px;
        max-height: 500px;
        margin-top: 0px;
        margin-left: 80px;
    }
    
    .home .linkedin img {
        margin-left: 0px;
        margin-top: 0px;
    }

    .home .github img {
        margin-left: 0px;
        margin-top: 20px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 20px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 17px;
    }
}

@media (max-width: 1400px) {
    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        max-width: 500px;
        max-height: 500px;
        margin-top: 0px;
        margin-left: 0px;
    }
    
    .home .linkedin img {
        margin-left: 0px;
        margin-top: 0px;
    }

    .home .github img {
        margin-left: 0px;
        margin-top: 20px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 20px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 17px;
    }
}

@media (max-width: 1303px) {
    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        max-width: 500px;
        max-height: 500px;
        margin-top: 0px;
        margin-left: -50px;
    }
    
    .home .linkedin img {
        margin-left: 0px;
        margin-top: 0px;
    }

    .home .github img {
        margin-left: 0px;
        margin-top: 20px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 20px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 17px;
    }
}

@media (max-width: 1253px) {
    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        max-width: 500px;
        max-height: 500px;
        margin-top: 0px;
        margin-left: -100px;
    }
    
    .home .linkedin img {
        margin-left: 0px;
        margin-top: 0px;
    }

    .home .github img {
        margin-left: 0px;
        margin-top: 20px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 20px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 17px;
    }
}

@media (max-width: 1200px) {
    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        max-width: 500px;
        max-height: 500px;
        margin-top: 0px;
        margin-left: -120px;
    }
    
    .home .linkedin img {
        margin-left: 0px;
        margin-top: 0px;
    }

    .home .github img {
        margin-left: 0px;
        margin-top: 20px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 20px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 17px;
    }
}

@media (max-width: 1183px) {
    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        max-width: 500px;
        max-height: 500px;
        margin-top: 0px;
        margin-left: -150px;
    }
    
    .home .linkedin img {
        margin-left: 0px;
        margin-top: 0px;
    }

    .home .github img {
        margin-left: 0px;
        margin-top: 20px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 20px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 17px;
    }
}

@media (max-width: 1153px) {
    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        max-width: 500px;
        max-height: 500px;
        margin-top: 0px;
        margin-left: -180px;
    }
    
    .home .linkedin img {
        margin-left: 0px;
        margin-top: 0px;
    }

    .home .github img {
        margin-left: 0px;
        margin-top: 20px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 20px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 17px;
    }
}

@media (max-width: 1123px) {
    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        max-width: 500px;
        max-height: 500px;
        margin-top: 0px;
        margin-left: -200px;
    }
    
    .home .linkedin img {
        margin-left: 0px;
        margin-top: 0px;
    }

    .home .github img {
        margin-left: 0px;
        margin-top: 20px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 20px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 17px;
    }
}

@media (max-width: 1103px) {
    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        max-width: 500px;
        max-height: 500px;
        margin-top: 0px;
        margin-left: -220px;
    }
    
    .home .linkedin img {
        margin-left: 0px;
        margin-top: 0px;
    }

    .home .github img {
        margin-left: 0px;
        margin-top: 20px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 20px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 17px;
    }
}

@media (max-width: 1083px) {
    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        max-width: 500px;
        max-height: 500px;
        margin-top: 0px;
        margin-left: -250px;
    }
    
    .home .linkedin img {
        margin-left: 0px;
        margin-top: 0px;
    }

    .home .github img {
        margin-left: 0px;
        margin-top: 20px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 20px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 17px;
    }
}

@media (max-width: 1053px) {
    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        max-width: 500px;
        max-height: 500px;
        margin-top: 0px;
        margin-left: -280px;
    }
    
    .home .linkedin img {
        margin-left: 0px;
        margin-top: 0px;
    }

    .home .github img {
        margin-left: 0px;
        margin-top: 20px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 20px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 17px;
    }
}

@media (max-width: 1023px) {
    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        max-width: 500px;
        max-height: 500px;
        margin-top: 0px;
        margin-left: -320px;
    }
    
    .home .linkedin img {
        margin-left: 0px;
        margin-top: 0px;
    }

    .home .github img {
        margin-left: 0px;
        margin-top: 20px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 20px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 17px;
    }
}

@media (max-width: 1000px) {
    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        max-width: 500px;
        max-height: 500px;
        margin-top: 0px;
        margin-left: -320px;
    }
    
    .home .linkedin img {
        margin-left: 0px;
        margin-top: 0px;
    }

    .home .github img {
        margin-left: 0px;
        margin-top: 20px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 20px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 17px;
    }
}

@media (max-width: 983px) {
    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        max-width: 500px;
        max-height: 500px;
        margin-top: 0px;
        margin-left: -404px;
    }
    
    .home .linkedin img {
        margin-left: 0px;
        margin-top: 0px;
    }

    .home .github img {
        margin-left: 0px;
        margin-top: 20px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 20px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 17px;
    }
}

@media (max-width: 900px) {
    .navbar {
        display: flex;
    }

    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        max-width: 500px;
        max-height: 500px;
        margin-top: 250px;
        margin-left: -600px;
    }
    
    .home .linkedin img {
        margin-left: 50px;
        margin-top: 0px;
    }

    .home .github img {
        margin-left: -5px;
        margin-top: 20px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 20px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 17px;
    }
}

@media (max-width: 800px) {
    .navbar {
        display: flex;
    }

    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        max-width: 500px;
        max-height: 500px;
        margin-top: 250px;
        margin-left: -650px;
    }
    
    .home .linkedin img {
        margin-left: -100px;
        margin-top: 0px;
    }

    .home .github img {
        margin-left: -72px;
        margin-top: 20px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 20px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 17px;
    }
}

@media (max-width: 760px) {
    .navbar {
        display: flex;
    }

    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        display: none;
    }
    
    .home .linkedin img {
        display: none;
    }

    .home .github img {
        display: none;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        min-width: 100%;
        min-height: 100%;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 20px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 15px;
    }
}

@media (max-width: 700px) {
    .navbar {
        display: flex;
    }

    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        display: none;
    }
    
    .home .linkedin img {
        display: none;
    }

    .home .github img {
        display: none;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        min-width: 100%;
        min-height: 100%;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 20px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 15px;
    }
}

@media (max-width: 640px) {
    .navbar {
        display: flex;
    }

    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        display: none;
    }
    
    .home .linkedin img {
        display: none;
    }

    .home .github img {
        display: none;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        min-width: 100%;
        min-height: 100%;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 18px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 13px;
    }
}

@media (max-width: 600px) {
    .navbar {
        display: flex;
    }

    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        display: none;
    }
    
    .home .linkedin img {
        display: none;
    }

    .home .github img {
        display: none;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        min-width: 100%;
        min-height: 100%;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 17px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 13px;
    }
}

@media (max-width: 580px) {
    .navbar {
        display: flex;
    }

    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .home .patrik-capa img {
        display: none;
    }
    
    .home .linkedin img {
        display: none;
    }

    .home .github img {
        display: none;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        min-width: 100%;
        min-height: 100%;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 17px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 11px;
    }
}

@media (max-width: 550px) {
    .navbar {
        display: none;
    }

    .home .patrik-capa img {
        display: none;
    }

    .home .linkedin img {
        display: none;
    }

    .home .github img {
        display: none;
    }

    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        min-width: 100%;
        min-height: 100%;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 15px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 11px;
    }
}

@media (max-width: 500px) {
    .navbar {
        display: none;
    }

    .home .patrik-capa img {
        display: none;
    }

    .home .linkedin img {
        display: none;
    }

    .home .github img {
        display: none;
    }

    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        min-width: 100%;
        min-height: 100%;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 15px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 15px;
        word-break: break-all;
    }
}

@media (max-width: 470px) {
    .navbar {
        display: none;
    }

    .home .patrik-capa img {
        display: none;
    }

    .home .linkedin img {
        display: none;
    }

    .home .github img {
        display: none;
    }

    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        min-width: 100%;
        min-height: 100%;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 15px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 12px;
        word-break: break-all;
    }
}

@media (max-width: 448px) {
    .navbar {
        display: none;
    }

    .home .patrik-capa img {
        display: none;
    }

    .home .linkedin img {
        display: none;
    }

    .home .github img {
        display: none;
    }

    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        min-width: 100%;
        min-height: 100%;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 12px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 10px;
        word-break: break-all;
    }
}

@media (max-width: 430px) {
    .navbar {
        display: none;
    }

    .home .patrik-capa img {
        display: none;
    }

    .home .linkedin img {
        display: none;
    }

    .home .github img {
        display: none;
    }

    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 50px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 30px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        min-width: 100%;
        min-height: 100%;
    }

    .projects .projects-content .card img {
        width: 60%;
        height: 60%;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 12px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 10px;
        word-break: break-all;
    }
}

@media (max-width: 409px) {
    .navbar {
        display: none;
    }

    .home .patrik-capa img {
        display: none;
    }

    .home .linkedin img {
        display: none;
    }

    .home .github img {
        display: none;
    }

    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 45px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 25px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        min-width: 100%;
        min-height: 100%;
    }

    .projects .projects-content .card img {
        width: 60%;
        height: 60%;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 10px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 8px;
        word-break: break-all;
    }
}

@media (max-width: 383px) {
    .navbar {
        display: none;
    }

    .home .patrik-capa img {
        display: none;
    }

    .home .linkedin img {
        display: none;
    }

    .home .github img {
        display: none;
    }

    .home .max-width .home-content .text-0 {
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 45px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 25px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        min-width: 100%;
        min-height: 100%;
    }

    .projects .projects-content .card img {
        width: 60%;
        height: 60%;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 9px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 8px;
        word-break: break-all;
    }
}

@media (max-width: 375px) {
    .navbar {
        display: none;
    }

    .home .patrik-capa img {
        display: none;
    }

    .home .linkedin img {
        display: none;
    }

    .home .github img {
        display: none;
    }

    .home .max-width .home-content .text-0 {
        font-size: 15px;
        color: #cfcfcfe7;
    }

    .home .max-width .home-content .text-1 {
        font-size: 40px;
    }

    .home .max-width .home-content .text-2 {
        font-size: 20px;
    }

    .about .about-content .column {
        width: 50%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .projects .projects-content .card {
        min-width: 100%;
        min-height: 100%;
    }

    .projects .projects-content .card img {
        width: 60%;
        height: 60%;
    }

    .skills .skills-content .column {
        width: 100%;
    }

    .skills .skills-content .column .bars .info {
        font-size: 8px;
    }

    .skills .skills-content .column .bars .info .nivel {
        font-size: 8px;
        word-break: break-all;
    }
}